.title__upscore {
    height: var(--small__interval);
    background-color: var(--app-dark__background-color);
}

.title__title {
    margin: 0;
    height: var(--xlarge__interval);
    color: var(--main-text__color);
    background-color: var(--app-primary__background-color);
}