@import './root.css';

body {
    background-color: var(--main__background-color);
}

main {
    display: flex;
    flex-direction: column;
    
    align-content: center;

    width: 80%;
    height: 100%;

    margin: 0 auto;
}