.item__container {
    display: flex;
    justify-content: space-between;

    width: 100%;
    margin: var(--milli__interval) 0;
    padding: var(--milli__interval);

    box-sizing: border-box;
    cursor: pointer;

    border-radius: var(--small__border-radius);

    background-color: var(--light__background-color);
}

.item__container:hover {
    background-color: var(--app-light__background-color);
}

.item__container--selected, .item__container--selected:hover {
    background-color: var(--app-primary__background-color);
    font-weight: bold;
}

.item__title {
    width: 80%;
    overflow: hidden;
}